fastapi>=0.103.1
fastapi_amis_admin>=0.6.6
sqlalchemy-database>=0.1.1
fastapi-user-auth>=0.6.1
fastapi-scheduler>=0.0.13
fastapi-config>=0.1.2
amis-admin-theme-editor>=0.0.3
rethinkdb>=2.4.9
uvicorn>=0.23.2
gunicorn>=21.2.0
hypercorn>=0.14.4
simplejson>=3.19.1